<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">How to use</h5>
            <p class="card-text">The purpose of ideasGo is to manage all your personal tasks or day-to-day activities or goals or ideas which gonna put into effect and track its status in one place.</p>
            <ul>
                <li>To add a new task you can add them through <mark>Add Task text box</mark>. 
                    It will be automatically queued up to the New Tasks box</li>

                <li> To move a task to in progress or active, simply <mark>Drag and Drop them to Progressive box</mark>.
                     Which indicates that the task is a work in progress</li>

                <li>To move a task to completed, <mark>Drag and Drop them to Completed box</mark>. 
                    which indicates that the task has been completed</li>

                <li>IdeasGo will automaticaly update the chart based on your activities</li>

                <li>Quick notes - As its name referes it allows you to store any quick info or notes and store it in your browser cookies</li>

                <li>All these data are avaialble in your browser cookies. It helps to store your data until browser cookies got cleared</li>

                <li>IdeasGo allows you to <mark>download and upload</mark> all your tasks in json file, under the <mark>Features tab</mark></li>

                <li>Clear Data under Features tab help to wipe off all your data</li>
            </ul>
        </div>
    </div>
</div>

