

.newTodos-text{
    color: rgba(156, 39, 176, 0.7);
}

.active-text{
    color: rgba(3, 169, 244, 0.7);
}

.completed-text{
    color: rgba(76, 175, 80, 0.7) ;
}



.todo-items{
    overflow-y: auto;
    max-height: 73vh;

}